.advantages {
  padding-bottom: 5%;
}

.advantages__title {
  font-size: $h2-title-size;
  text-align: center;
  margin: 0 0 10% 0;
}

.advantages__list {
  @include reset-list;
}

.advantages__item {
  padding: 70px 7% 10%;
  margin-bottom: 5%;

  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6%;
    left: 7%;
    width: 43%;
    height: 39%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:first-child::before {
    background-image: url("../img/icon/01.svg");
    width: 39%;
    height: 53%;
  }

  &:nth-child(2)::before {
    background-image: url("../img/icon/02.svg");
  }

  &:last-child::before {
    background-image: url("../img/icon/03.svg");
  }
}

.advantages__text {
  margin: 0;
  font-size: 4.3vw;
  line-height: 1.2;
}


@media (min-width: $tablet-width) {
  .advantages__list {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .advantages__item {
    padding: 20% 4% 5%;

    &:first-child::before {
      width: 20%;
      height: 33%;
    }

    &::before {
      left: 3%;
      top: 0%;
      width: 25%;
      height: 30%;
    }
  }

  .advantages__text {
    font-size: 2.5vw;
  }
}
