.advantages {
  padding-bottom: 5%;
}

.advantages__title {
  font-size: $h2-title-size;
  text-align: center;
}

.advantages__list {
  @include reset-list;
}

.advantages__item {
  padding: 70px 7% 10%;
  margin-bottom: 5%;

  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6%;
    left: 7%;
    width: 43%;
    height: 39%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:first-child::before {
    background-image: url("/img/icon/01.svg");
    width: 39%;
    height: 53%;
  }

  &:nth-child(2)::before {
    background-image: url("/img/icon/02.svg");
  }

  &:last-child::before {
    background-image: url("/img/icon/03.svg");
  }
}

.advantages__text {
  margin: 0;
  font-size: 4.3vw;
  line-height: 1.2;
}
