.container {
  padding: 0 3%;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 6%;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1300px;
    padding: 0 8%;
    margin: 0 auto;
  }
}
