.contacts {
  padding: 10% 0;
}

.contacts__title {
  font-size: $h2-title-size;
  margin: 0 0 10% 0;
  text-align: center;
}

.contacts__text {
  font-size: 5vw;
  line-height: 1.2;
  margin: 0 0 10% 0;
}

.contacts__list {
  @include reset-list;
  margin-bottom: 10%;
}

.contacts__item {
  padding-left: 10%;
  margin-bottom: 7%;
  font-size: 5vw;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5vw;
    height: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:first-child::before {
    background-image: url("../img/icon/phone.png");
    top: -5%;
  }

  &:nth-child(2)::before {
    background-image: url("../img/icon/mail.png");
    top: 10%;
  }

  &:last-child::before {
    background-image: url("../img/icon/location.png");
    width: 7vw;
    height: 7vw;
    left: -1%;
    top: -20%;
  }
}

.contacts__number,
.contacts__mail {
  color: #000;
}

.contacts__address {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    margin-bottom: 4%;
  }

  .contacts__information {
    width: 95%;
    margin: 0 auto;
  }

  .contacts__text {
    font-size: 3vw;
    line-height: 1.4;
  }

  .contacts__list {
    display: flex;
    margin-bottom: 0;
  }

  .contacts__item {
    margin-right: 2%;
    padding-left: 4.5%;
    font-size: 1.7vw;

    display: flex;

    &:first-child {
      width: 25%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:last-child {
      width: 46%;
      margin-right: 0;
    }

    &::before {
      width: 3vw;
      height: 3vw;
    }

    &:first-child::before {
      top: -40%;
    }

    &:nth-child(2)::before {
      top: -15%;
    }

    &:last-child::before {
      width: 4vw;
      height: 4vw;
      top: -70%;
      left: 0;
    }
  }
}
