.contacts {
  padding: 10% 3%;
}

.contacts__title {
  font-size: $h2-title-size;
  margin: 0 0 10% 0;
  text-align: center;
}

.contacts__text {
  font-size: 5vw;
  line-height: 1.2;
  margin: 0 0 3% 0;

  &:last-of-type {
    margin-bottom: 10%;
  }
}

.contacts__list {
  @include reset-list;
  margin-bottom: 10%;
}

.contacts__item {
  padding-left: 10%;
  margin-bottom: 7%;
  font-size: 5vw;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5vw;
    height: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:first-child::before {
    background-image: url("../img/icon/phone.svg");
    top: -5%;
  }

  &:nth-child(2)::before {
    background-image: url("../img/icon/mail.svg");
    top: 10%;
  }

  &:last-child::before {
    background-image: url("../img/icon/location.svg");
    width: 7vw;
    height: 7vw;
    left: 0;
    top: -20%;
  }
}

.contacts__number,
.contacts__mail {
  color: #000;
}

.contacts__address {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 10% 4%;
  }

  .contacts__title {
    margin-bottom: 4%;
  }

  .contacts__information {
    width: 95%;
    margin: 0 auto;
  }

  .contacts__text {
    font-size: 3vw;
    line-height: 1.4;
    margin-bottom: 1%;

    &:last-of-type {
      margin-bottom: 5%;
    }
  }

  .contacts__list {
    display: flex;
    margin-bottom: 0;
  }

  .contacts__item {
    width: 32%;
    margin-right: 2%;
    padding-left: 4.5%;
    font-size: 1.7vw;

    display: flex;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      width: 3vw;
      height: 3vw;
    }

    &:first-child::before {
      top: -40%;
    }

    &:nth-child(2)::before {
      top: -15%;
    }

    &:last-child::before {
      width: 4vw;
      height: 4vw;
      top: -70%;
      left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: .2vw solid #818181;
  }

  .contacts__title {
    font-size: 5vw;
    display: block;
    width: 100%;
  }

  .contacts__information {
    width: 47%;
    margin: 0;
    padding-top: 3%;
  }

  .contacts__text {
    font-size: 1.6vw;
    line-height: 1.2;
    margin-bottom: 2%;

    &:last-of-type {
      margin-bottom: 10%;
    }
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__item {
    width: 100%;
    padding-left: 9%;

    &::before {
      width: 2vw;
      height: 2vw;
    }

    &:first-child::before {
      top: -20%;
    }

    &:nth-child(2)::before {
      top: 0;
    }

    &:last-child::before {
      width: 3vw;
      height: 3vw;
      top: -35%;
    }
  }
}
