.container {
  padding: 0 2%;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 3%;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1300px;
    padding: 0 5%;
    margin: 0 auto;
  }
}
