.header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 10;
  padding: 2% 3%;
}

.header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  width: 37%;
}

.header__logo {
  width: 70%;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 0 4%;
  }

  .header__link {
    width: 20%;
  }

  .header__logo {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 0 4%;
  }

  .header__link {
    width: 15%;
  }
}
