.navigation {
  display: flex;
  flex-direction: column;
}

.navigation__list {
  display: none;
}

.navigation__contacts {
  align-self: flex-end;
}

.navigation__number {
  color: $primary-text-colour;
  font-weight: bold;
  font-size: 4vw;
  line-height: 2;
}

.navigation__city {
  margin: 0;
  font-size: 3.5vw;
  line-height: 1.3;
  color: #2fbcb1;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .navigation__number,
  .navigation__city {
    font-size: 3vw;
    line-height: 1.3;
  }
}
