.offer__title {
  margin: 0 0 10% 0;
  font-size: $h2-title-size;
  text-align: center;
}

.offer__information {
  max-width: 620px;
  margin: 0 auto;
}

.offer__img {
  border-radius: 10px;
  width: 100%;

  &--gift {
    margin-bottom: 10%;
  }

  &--cashback {
    margin-bottom: 5%;
  }

  &--logo-sale {
    margin-bottom: 10%;
  }
}

@media (min-width: $tablet-width) {
  .offer__information {
    max-width: 100%;
    width: 60%;
  }

  .offer__title {
    font-size: 4vw;
  }

  .offer__picture {
    margin: 0 auto;
    display: block;
  }

  .offer__img {
    &--gift {
      margin-bottom: 5%;
    }
  }
}
