.promo {
  padding-bottom: 15%;
  margin-top: 14%;
}

.promo__picture {
  margin-bottom: 8%;
}

.promo__title {
  margin: 0 0 5% 0;
  font-size: 13vw;
}

.promo__text {
  margin: 0 0 8% 0;
  font-size: 4.9vw;
  line-height: 1.2;
  font-weight: 800;
}

@media (min-width: $tablet-width) {
  .promo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
  }

  .promo__picture {
    width: 45%;
  }

  .promo__information {
    width: 52%;
  }

  .promo__title {
    font-size: 4vw;
    line-height: 1.3;
    margin-bottom: 2%;
  }

  .promo__text {
    font-size: 2.4vw;
  }
}
