.services {
  padding: 15%;
}

.services__title {
  font-size: $h2-title-size;
  margin: 0 0 10% 0;
  text-align: center;
}

.services__picture {
  text-align: center;
  margin-bottom: 5%;
}

.services__list {
  @include reset-list;
  margin-bottom: 10%;

  display: flex;
  flex-direction: column;
}

.services__item {
  padding: 5% 4%;
}

.services__subtitle {
  font-size: 6vw;
  margin: 0 0 8% 0;
}

.services__item-price {
  margin: 0;
  font-size: 10vw;
  line-height: 1.6;
  font-weight: 800;
  color: #F04D37;
  text-align: center;
}

.services__table {
  display: block;
  border-collapse: collapse;
  margin: 0 0 10% 0;
}

.services__table-body {
    display: block;
  }

.services__table-row {
  display: flex;
  flex-direction: column;
  padding: 10% 1%;
  border-bottom: 1px solid #cdcdcd;
}

.services__table-data {
  margin-bottom: 3%;
}

.services__table-price {
  font-weight: 800;
}

.services__table-cell {
  font-size: 6.6vw;
  line-height: 1.1;
}

