.steps {
  padding: 0 7% 5% 0;
}

.steps__title {
  margin: 0 0 10% 0;
  font-size: $h2-title-size;
  text-align: center;
}

.steps__list {
  @include reset-list;
  counter-reset: pages;
}

.steps__item {
  font-size: 5vw;
  line-height: 1.2;
  margin-bottom: 6%;
  padding-left: 15%;

  position: relative;
  counter-increment: pages;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: counter(pages);
    position: absolute;
    top: 0;
    left: 4%;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(271.59deg, #45BCC4 0%, #60C56A 100%);
  }
}

@media (min-width: $tablet-width) {
  .steps__list {
    width: 70%;
    margin: 0 auto;
  }

  .steps__item {
    font-size: 3vw;
    margin-bottom: 3%;

    &::before {
      width: 3vw;
      height: 3vw;
      font-size: 2vw;
      top: 50%;
      transform: translateY(-50%);
      left: 7%;
    }
  }
}
