/* @media */
$tablet-width: 768px;
$desktop-width: 1300px;

$h2-title-size: 10vw;
$primary-background-color: #fff;
$primary-text-colour: #000;
$primary-font: "Manrope", "Arial", sans-serif;

/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
